    <!DOCTYPE html>
    <meta charset="utf-8">
    <style>
    
    .bar {
      fill: steelblue;
    }
    
    .bar:hover {
      fill: brown;
    }
    
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .x.axis path {
      display: none;
    }
    
    </style>
    <body>
    	
    </body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
    
    daysu = [{date:"1/1",value:1},{date:"1/2",value:2},{date:"1/3",value:0},{date:"1/4",value:4}]
    
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 800 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);
    
    var y = d3.scale.linear()
        .range([height, 0]);
    
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10, "");
    
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
      x.domain(daysu.map(function(d) { return d.date; }));
      y.domain([0, d3.max(daysu, function(d) { return d.value; })]);
    
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);
    
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("value");
    
      svg.selectAll(".bar")
      .data(daysu)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });

	function update(datain){
		var asdf = svg.selectAll(".bar").data(datain);
		console.log(asdf.exit());
		asdf.exit().transition().duration(500).attr("height",0).attr("y",height);
		asdf.enter().append("rect");
		
		x.domain(datain.map(function(d) { return d.date; }));
		y.domain([0, d3.max(datain, function(d) { return d.value; })]);
		asdf
			.attr("class","bar")
			.transition().duration(500)
			.attr("height",0).attr("y",height)
		asdf.transition().duration(0).delay(500)
			.attr("x", function(d) { return x(d.date); })
			.attr("width", x.rangeBand())
		asdf
			.transition().duration(500).delay(550)
			.attr("y", function(d) { return y(d.value); })
			.attr("height", function(d) { return height - y(d.value); });
    }

    </script>